<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Visang Computer Tech Talk">
    <meta name="author" content="Hiun Kim">
    <title>{{ page.title }} | {{ site.name }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script>
        if (window.location.protocol === 'http:' && window.location.hostname === 'visanghq.github.io') {
          window.location.href = ('https' + window.location.href.slice(4));
        }
    </script>
</head>
  <body>
    <div class="container">
      <h1><a href="/">{{ site.name }}</a></h1>
      <hr>
      {{ content }}
    </div>
</body></html>